%%
%% rebar configuration file (https://github.com/rebar/rebar)
%%

{require_min_otp_vsn, "21"}.

{erl_opts, [
    debug_info,
    fail_on_warning
 ]
}.

{profiles, [
    {test, [
	    {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},
		{xref_ignores, [
        ]}
        
    ]},
	{edoc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{check, [
		{dialyzer, [
		  {warnings, [
			  no_return
		  ]}
		]},
		
		{erl_opts, [
			debug_info
		]}
	]}
]}.


{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.