{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, []}.
{edoc_opts, [{application, oauth}]}.
{sub_dirs, []}.
