{erl_opts, [warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{deps, [{ibrowse, "\.*", {git, "git://github.com/inaka/ibrowse.git", "master"}}]}.
{edoc_opts, [{application, oauth}]}.
{xref_checks, [undefined_function_calls]}.